body {
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	padding: 20px;
	color: white;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	margin-right: 10px;
}

nav a {
	color: white;
	text-decoration: none;
}

section {
	padding: 20px;
	background-color: whitesmoke;
	margin: 20px;
}

.responsive-image {
	max-width: 100%;
	height: auto;
}

.google-map  {
	max-width: 640px;
}

#contactForm {
	max-width: 100%;
}


footer {
	background-color: black;
	padding: 10px;
	color: white;
	text-align: center;
}
